<!DOCTYPE html>
<html>
<head>
    <!-- General website setup stuff. Declaring the stylesheet and JS imports. -->
    <title>Customer Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/customer_stylesheet.css') }}">
    <script src="{{ url_for('static', filename='customer/customer_app.js') }}"></script>
</head>
<body>
    <h2>Customer Interface</h2>
    <p>Order your items here!!</p>

    <!-- TODO: These need to be updated with the actual drink names. -->
    <!-- TODO: The drink IDs need to be replaced with the actual Menu Item IDs. -->
    <div class="container">
        <div onclick="add_item_to_cart('101')">Ancestral Samurai Sakura Tea</div>
        <div onclick="add_item_to_cart('102')">Iced Yurei Matcha</div>
        <div onclick="add_item_to_cart('103')">Patriotic Cold Brew</div>
        <div onclick="add_item_to_cart('104')">Bethany's Ballistic Boba Bash</div>
        <div onclick="add_item_to_cart('105')">Dr. Taele's Signature Smoothie</div>
    </div>

    <!-- Anything that the customer orders should be displayed here. -->
    <div class="cart">
        <h1>Cart</h1>

        <!-- This is the DIV that is used to list the cart items. -->
        <!-- Used in "customer_app.js" -->
        <div id="cart_items"></div>

    </div>

</body>
</html>